.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .logo h1 a {
    font-size: 42px;
    font-weight: 800;
    color: #0835ff;
  }

  .list {
    display: flex;
    column-gap: 20px;

    .listItem a {
      font-size: 22px;
      font-weight: 500;
      transition: color 250ms ease-out;

      &:hover {
        color: orange;
      }
    }
  }
}
